@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5B21B6;
  --dark: #111928;
  --pure: #fff;
  --text: #1F2A37
}

.container{
  max-width: 1170px;
}

.slick-slide{
  opacity: .5;
}
.slick-active {
  opacity: 1;
}

.ReactModal__Overlay{
  background-color: #11192880 !important;
}

.single_store_content p{
  margin-bottom: 1.5rem;
}

.single_store_content h3,
.single_store_content h2,
.single_store_content h1,
.single_store_content h4{
  font-size: 34px;
  font-weight:  600;
  margin-bottom: 5px;
}
.single_store_content h5,
.single_store_content h6{
  font-size: 20px;
  font-weight:  600;
  margin-bottom: 5px;
}

.single_store_content ul{
  list-style-type: disc;
  padding-left: 1.4rem;
  margin-bottom: 1.5rem;
}

.single_store_content a{
  text-decoration: underline;
}

.page_content h2{
  padding: 20px 0;
  font-weight: 600;
  font-size: 34px;
  color: #111928
}

.page_content a{
  text-decoration: underline;
}


@media (max-width: 768px) {
  .page_content h2{
    font-size: 24px;
  }
}

@media (min-width: 1780px) {
  .cImg{
    height: 380px !important;
  }
}