@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5B21B6;
  --dark: #111928;
  --pure: #fff;
  --text: #1F2A37
}

.container{
  max-width: 1170px;
}

.slick-slide{
  opacity: .5;
}
.slick-active {
  opacity: 1;
}

.ReactModal__Overlay{
  background-color: #11192880 !important;
}

.single_store_content p{
  margin-bottom: 1.5rem;
}

.single_store_content h3,
.single_store_content h2,
.single_store_content h1,
.single_store_content h4{
  font-size: 24px;
  font-weight:  600;
  margin-bottom: 5px;
}
.single_store_content h5,
.single_store_content h6{
  font-size: 20px;
  font-weight:  600;
  margin-bottom: 5px;
}

.single_store_content ul{
  list-style-type: disc;
  padding-left: 1.4rem;
  margin-bottom: 1.5rem;
}

.single_store_content a{
  text-decoration: underline;
}

.page_content h2{
  padding: 20px 0;
  font-weight: 600;
  font-size: 34px;
  color: #111928
}

.page_content a{
  text-decoration: underline;
}

.goog-tooltip,
.goog-tooltip:hover,
.goog-tooltip div,
.goog-text-highlight,
#goog-gt-tt {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
  color: inherit !important;
  text-decoration: none !important;
}

.skiptranslate{
  opacity: 0 !important;
  margin-top: -40px !important;
}

@media (max-width: 768px) {
  .page_content h2{
    font-size: 24px;
  }
}

@media (min-width: 1780px) {
  .cImg{
    height: 380px !important;
  }
}



/* Remove Google Translate's text highlight */
.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
  color: inherit !important;
  text-decoration: none !important;
}

/* Hide Google Translate tooltip */
.goog-tooltip,
.goog-tooltip div {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

/* Prevent text selection (Optional) */
* {
  user-select: text !important;
  -webkit-user-select: text !important;
}
.faqs a{text-decoration: underline;}

.cImg {
  aspect-ratio: 575 / 265;
}


@media (max-width:768px) {
  .single_store_content h2, .single_store_content h3{
    font-size: 24px !important;
  }
}